<h1>Hi, <%= session[:full_name] || 'Guest'%></h1>

<h2>Table of Users</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.full_name %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'Edit', edit_user_path(id: user.id) %></td>
                <td><%= link_to 'Delete', user_path(id: user.id), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        
