<h1>Hi, <%= session[:full_name] || 'Guest'%></h1>
<%= form_for @user do |f| %>
    <p>
        <%= f.label :full_name %>
        <%= f.text_field :full_name %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>
    
    <%= f.submit 'Create' %>
<% end %>

<%= form_tag do %>


